.heading{
	display: inline;
}
body {
	background: #57302f;
}
a {
	color:#04b87c;
}
footer{
	color:#ecbebe;
}
.heading, .main{
	color:#F5821F;
}
td{
	border-style: solid;
	border-width:2px;
	border-color:#ECBEBE;
}
li{
	color:#ECBEBE;
}